@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Spline Sans Mono', monospace;
    color: white;
    font-size: 60px;
}

body{
    background-image: url(../img/bg.avif);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.gallery img{
    width: 250px;
}

.gallery{
    width: 80vw;
    height: 80vh;
    border-top: 2px solid cyan;
    background-image: url(../img/galery_bg.jpg);
    border-radius: 5px;
}

#search{
    font-family: 'DS-Digital', sans-serif;
    font-size: 20px;
    width: 30vw;
    height: 40px;
    border: 1px solid purple;
    background: rgba(128, 0, 128, 0.5);
    outline: none;
    text-align: center;
    color: white;
    clip-path: polygon(
        0% 0%, 100% 0%, 100% 50%, 95% 100%, 0% 100%
      );
}