@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Sedgwi');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Spline Sans Mono', monospace;
    color: white;
    font-size: 45px;
}

body{

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../img/478083238_b54adbbb33_b.jpg) ;
    background-size: cover;

}

.gallery img{
    width: 200px;
}

.gallery{
    overflow: scroll;
    width: 80vw;
    height: 80vh;
    border-top: 2px solid rgb(87, 123, 123);
    background-color: rgba(85, 109, 109, 0.1);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

#search{
    width: 30vw;
    height: 40px;
    border: 1px solid rgb(146, 146, 146);
    background: rgba(152, 152, 152, 0.789);
    outline: none;
    text-align: center;
    color: white;
    clip-path: polygon(
        0% 0%, 100% 0%, 100% 50%, 95% 100%, 0% 100%
      );
}

.gallery::-webkit-scrollbar{
    display: none;
}